<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
		<div th:replace="fragments/fragment :: header"></div>
		<div>
			<h2>Presentase Kelulusan</h2>
			<form action="/kelulusan/submit" method="GET">
					<div>
						<div>
							<strong><label for="tahun">Tahun</label></strong>
						</div>
						<input type="text" name="thn" th:value="${thn}" required="required"/>
					</div>
					<div>
						<div>
							<strong><label for="prodi">Id Program Studi</label></strong>
						</div>
						<input type="text" name="id_prodi" th:value="${id_prodi}" required="required"/>
					</div>
					<div>
						<br></br>
						<button class="button" type="submit">Lihat</button>
					</div>
			</form>
		</div>
</body>
</html>